{% extends 'base/base.html' %}
{% load static %}

{% block activar1 %}
    <li class="nav-item active">
{% endblock %}

{% block titulo %}
    Preguntas disponibles
{% endblock %}

{% block contenido %}
    <table class="tabletable-sm">
        <thead>
            <tr>

                <th>Enunciado pregunta</th>
                {% if not user.is_superuser %}
               
                <th>Respuesta</th>
                {% endif %}

                {% if user.is_superuser%}
                <th>Acciones</th>
                {%endif%}

                {% if lista_preguntas %}
                {% for pregunta in lista_preguntas %}
            </tr>
        </thead>
        <tbody aria-rowspan="2">

            <tr>
                <td>
                    <span href="{% url 'encuestas:index' %}">{{pregunta.pregunta}}</span>
                </td>
                <td colspan="10">     
                    {% if not user.is_superuser %}
                    {% if pregunta.tipo_pregunta.tipo == "Radio" %}
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                   

                    
                        <form action="{% url 'encuestas:index' %}" method="post">
                            
                            {% csrf_token %}
                            {{ form.as_p }}
                        
                            <tbody>
                                <td colspan="10"></td>
                                <td ></td>
                                <td style="width: 16px;"><input id="1" name="opc" type="radio" value="pt"></td>
                                <td style="width: 16px;"><input id="2" name="opc" type="radio" value="pt"></td>
                                <td style="width: 16px;"><input id="3" name="opc" type="radio" value="pt"></td>
                                <td style="width: 16px;"><input id="4" name="opc" type="radio" value="pt"></td>
                                <td style="width: 16px;"><input id="5" name="opc" type="radio" value="pt"></td>
                                <td style="width: 16px;"><input id="6" name="opc" type="radio" value="pt"></td>
                                <td style="width: 16px;"><input id="7" name="opc" type="radio" value="pt"></td>
                                <td style="width: 16px;"><input id="8" name="opc" type="radio" value="pt"></td>
                                <td style="width: 16px;"><input id="9" name="opc" type="radio" value="pt"></td>
                                <td style="width: 16px;"><input id="10" name="opc" type="radio" value="pt"></td>
                            </tbody>                            
                        </form>
                    {%endif%}
                    {% if pregunta.tipo_pregunta.tipo == "Texto" %}
                    <td colspan="10">
                        <input type="text" placeholder="Introduzca comentarios aquí" id="texto1" style="width: 225px;">
                    </td>
                    {%endif%}
                    {% endif %}
                
                </td>
                
                <td>
                    {% if user.is_superuser %}
                    <a class="btn btn-primary btn-sm" href="{% url 'encuestas:updatePregunta' pregunta.id %} ">Editar</a>
                    <a class="btn btn-danger btn-sm" href="{%url 'encuestas:deletePregunta' pregunta.id %}">Borrar</a>
                    {%endif%}
                </td>
            </tr>
            {% endfor %}
            
            {% else %}
            <h2 class="mt-5">No hay Preguntas</h2>
            {% endif %}
        </tbody>
    </table>

    <hr id="modificar">
    
    {%  if user.is_superuser %}
        <a  class="btn btn-primary" href="{%url 'encuestas:createPregunta'%}">Añadir pregunta</a>
        
    {% endif %}
{% endblock %}
