{% extends 'base/base.html' %}

{% load static %}

{% block titulo %}
    Encuestas CPIFP Bajo Aragon
{% endblock %}
{% block contenido %}
    {% if user.is_authenticated %}
        <br><br><br><br>
        <p class="lead">
            Bienvenido {{ user }}
        </p>
    {% else %}
        {% if form.errors %}    
            <p class="text-danger text-center">
                <strong>La contraseña o el nombre de usuario no son validos</strong>
            </p>
        {% endif %}
        
        <form class="text-center"action="{% url 'encuestas:login'%}"method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
            <input type="text"name="username"id="username"class="form-control col-lg-4 mx-auto"placeholder="Usuario"requiredautofocus>
            <br>
            <input type="password"name="password"id="password"class="form-control col-lg-4 mx-auto"placeholder="Password"required>
            <br>
            <input type="hidden"name="next"value="{{ next }}">
            <button class="btn btn-lg btn-primary"type="submit">Entrar</button>
        </form>
    {% endif %}
{% endblock %}
